<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- 接受routes/index.js调用该模板传来的数据 -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <style type="text/css">
      a{margin-left: 20px; text-decoration: none;}
      a:hover{text-decoration: underline;}
    </style>
  </head>
  <body>
    <div class="index-wrap">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p class="avatar-img">
        <a href="/userInfo"><img src="/images/avatar.png" alt=""></a>
      </p>
      <div class="post">
        <input type="text" class="title" placeholder="请输入标题"><br/>
        <input type="text" class="content" placeholder="请输入内容"><br/>
        <button class="ok">提交</button>
      </div>
      <ul class="content"></ul>
    </div>
    
    <script type="text/javascript" src="javascripts/jquery-3.3.1.js"></script>
    <script>
      function getList() {
        $.get('/api/test', {}, function (data) {
          console.log('----data', data)
          if (data.code == 200) {
            var html = '', list = data.result || [];
            for (var i = 0; i < list.length; i++) {
              html += '<li class="content-item" data-id="'+ list[i]._id +'">'
                        + '<h3>这是第' + i + '条数据：</h3>' 
                        + '<p class="title">标题为<span>' + list[i].title + '</span></p>' 
                        + '<p class="content">内容为' + list[i].content + '</p>'
                        + '<p class="delete-item"><img src="/images/wrong.png" ></p>' +
                      '</li>';
            }
            $('.content').empty().append(html);
          }
        })
      }
      getList();

      $('.ok').click(function() {
        if (!$('.title').val()) {
          alert('请填写标题');
          return false;
        }
        if (!$('.content').val()) {
          alert('请填写内容');
          return false;
        }
        $.post('/api/addtest', {
          title: $('.title').val(),
          content: $('.content').val()
        }, function (data) {
          console.log('----addtest', data)
          if (data.code == 200) {
            alert('提交成功');
            getList();
          } else {
            alert(data.message);
            location.href = 'login';
          }
        })
      })

      $(document).on('click', '.delete-item', function() {
        var $currLi = $(this).closest('li');
        var data = {
            title: $currLi.find('.title span').text(),
          };
        $.ajax({
          url: '/api/deletetest',
          type: 'post',
          data: data,
          dataType: 'json',
          success: function(res) {
            if (res.code == 200) {
              console.log(111, data);
              getList();
            } else {
              alert (res.message);
              location.href = 'login';
            }
          }
        })
      })
    </script>
  </body>
</html>