<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .bor{
      border: 1px solid #eee;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="bor info">
    </div>
    <div class="bor">
      <input type="text" class="name" placeholder="请输入姓名">
      <input type="text" class="phone" placeholder="请输入电话">
      <input type="text" class="motto" placeholder="请输入格言">
      <button class="update-info">提交</button>
    </div>
    <div>图片上传：<input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" /></div>
    <img style="width: 100px;" src="" />
    <div class="test"></div>

  <script src="javascripts/jquery-3.3.1.js"></script>
  <script>
    // 图片上传
    $('.fileupload').change(function(event) {
      if ($('.fileupload').val().length) {
        var fileName = $('.fileupload').val();
        var extension = fileName.substring(fileName.lastIndexOf('.'), fileName.length).toLowerCase();
        if (extension == ".jpg" || extension == ".png") {
          var data = new FormData();
          data.append('fulAvatar', $('#fileToUpload')[0].files[0]);
          $.ajax({
            url: '/api/uploadImg',
            type: 'POST',
            data: data,
            cache: false,
            contentType: false, //不可缺参数
            processData: false, //不可缺参数
            success: function(data) {
              console.log('-------upload img:', data);
              if (data.code == 200) {
                $('img').attr('src', data.result);
              } else if (data.code == 401) {
                alert(data.message);
                location.href = 'login';
              }
            },
            error: function() {
              console.log('error');
            }
          });
        }
      }
    });

    // 更新用户信息
    $('.update-info').click(function() {
      $.post('/api/updateUserinfo', {
        name: $('.name').val(),
        phone: $('.phone').val(),
        motto: $('.motto').val()
      }, function (data) {
        console.log('----update info', data)
        if (data.code == 200) {
          alert('提交成功');
          // getList();
        } else {
          alert('提交失败');
        }
      })
    })
  </script>
</body>
</html>