html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,time,mark,audio,video,details,summary{margin:0;padding:0;border:0;font-size:100%;font-weight:normal;vertical-align:baseline;background:transparent}main,article,aside,figure,footer,header,nav,section,details,summary{display:block}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit}img,object,embed{max-width:100%}html{overflow-y:scroll}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:separate;border-spacing:0}th{font-weight:bold;vertical-align:bottom}td{font-weight:normal;vertical-align:top}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}select,input,textarea{font:99% sans-serif}table{font-size:inherit;font:100%}small{font-size:85%}strong{font-weight:bold}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre,code,kbd,samp{font-family:monospace, sans-serif}.clickable,label,input[type=button],input[type=submit],input[type=file],button{cursor:pointer}button,input,select,textarea{margin:0}button,input[type=button]{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.clearfix:after{content:" ";display:block;clear:both}html{font:16px/1 "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", STHeiTi, sans-serif;color:#444;word-wrap:break-word;width:100%;overflow-x:hidden}button{border:0 none}button:focus{outline:none;background:none}a,button{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;tap-highlight-color:transparent;outline:0;-webkit-box-shadow:none;box-shadow:none}.fn-hide{display:none !important}.pull-right{float:right}.pull-left{float:left}body{overflow:hidden}body.no-scroll{position:fixed;top:0;right:0;left:0;bottom:0}

.avatar-img {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 30px;
  height: 30px;
}
.avatar-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 首页 */
.index-wrap {
  padding: 0 50px;
}
.index-wrap .content .content-item {
  position: relative;
  border-bottom: solid 10px #eee;
}
.index-wrap .content .content-item .delete-item {
  position: absolute;
  top: 0;
  right: 10px;
  width: 26px;
  height: 26px;
}
.index-wrap .pages button {
  border: solid 1px #065af5;
  color: #065af5;
}
.index-wrap .pages .disable {
  border-color: rgba(184, 180, 180, 0.774);
  color: rgb(159, 162, 165);
}